html, body, div, h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
, ol, ul, li, form, label, table, tr, th, td
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body{
  font-family: 'PT Sans', sans-serif;
  font-size: 15px; 
  line-height: 19px; 
  color: #fff; 
  background: no-repeat fixed top;
  /* adjust background image css */
  -moz-background-size:100% 100%; 
  background-size:100% 100%;
}

/* i got this answer from stackoverflow.They say this is an old issue that
 * offset not working in row-fluid
 */
.offset1 {
  margin-left: 85px !important;
}

a{
  font-size:15px; 
  color: #4183c4; 
  text-decoration:none;
}

ul{
  list-style:none;
  display:table-cell;
}

ul li i{
  margin-right: 5px;
}

h1#name{
  margin-bottom:35px; 
}

.container{
  /* transparent gray */
  background-color: rgba(0, 0, 0, 0.892745);
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  opacity: 1;

  /* border */ 
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid transparent;

  padding:30px; 
}

#user{
  margin-top: 5%;
}

#gh-data{
  margin-top: 2%; 
  min-height: auto; 
}

#repos{
  margin-top: 2%; 
}

#avatar_container{
  border-right:solid 1px #777;
}

hr{
  border:none; 
  border-bottom: solid #777 1px; 
}

#avatar{
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  border: solid 4px #fff;
  background:#fff; 
}

#user-info-container{
  margin-top:10px;
}

#user-info{
  line-height: 20px;
}

#user-info-container li, #repolist li{
  color:#999;
}

/* circle */
.circle{
  width:60px;
  height:60px;
  border-radius:50px;
  font-size:22px;
  color:#fff;
  line-height:60px;
  text-align:center;
  background:#09f
}

#followers h3{
  font-weight: normal;
}

h2{
  font-size: 152%;
  font-weight:normal; 
  font-style: italic;
}

h3>a>span#language{
  color:#999999;
  font-style: italic;
  font-size:56%;
}

ul#repolist{
  float:left; 
  min-width:80%; 
}

#repolist h3 a{
  font-size: 93%;
  font-weight:normal; 
}

#repolist > li {
  border-bottom: 1px solid #333;
  padding: 0 0 20px 0;
  position: relative;
  min-height: 66px;
  overflow: hidden;
  margin: 0 0 20px 0;
  list-style-type: none;
}

#repolist ul.repo-stats {
  position: relative;
  float: right;
  border: none;
  font-size: 11px;
  font-weight: bold;
  padding-left: 15px;
  z-index: 5;
  display: inline-block;
  margin: 0;
  overflow: hidden;
}

#repolist ul.repo-stats li{
  float:left;
  display: list-item;
  margin:0 5px; 
}
