.circle {
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  behavior: url(/GhResume/vendors/PIE.htc);
}
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
ol,
ul,
li,
form,
label,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background: no-repeat fixed top;
  /* adjust background image css */
  background-image: url("../static/background.jpg");
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
a {
  font-size: 16px;
  color: #009999;
  text-decoration: none;
}
ul {
  list-style: none;
  display: table-cell;
}
/*icon in ul>li*/
ul li i {
  margin: auto 5px;
}
/* i got this answer from stackoverflow.They say this is an old issue that
 * offset not working in row-fluid
 */
.offset1 {
  margin-left: 85px !important;
}
/* containers */
.container {
  /* gray opcity*/
  /* transparent gray */
  background-color: rgba(0, 0, 0, 0.892745);
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  behavior: url(/GhResume/vendors/PIE.htc);
  border: 1px solid transparent;
  padding: 30px;
  margin: 2% auto;
}
/* hr */
hr {
  border: none;
  border-bottom: solid #777777 1px;
}
.h2 {
  font-weight: normal;
  font-size: 147%;
  font-style: italic;
}
.container#user {
  margin: 3% auto;
}
.container#user h1#name {
  font-size: 120%;
  margin-bottom: 35px;
}
.container#user h1#name a {
  font-size: 120%;
}
.container#user h1#name span {
  font-size: 100%;
  color: #999999;
}
.container#user #avatar_container {
  border-right: solid 1px #777777;
}
.container#user #avatar {
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  behavior: url(/GhResume/vendors/PIE.htc);
  border: solid 4px #ffffff;
  background: #ffffff;
}
.container#user #user-info-container {
  margin-top: 10px;
}
.container#user #user-info-container #user-info {
  line-height: 21px;
}
.container#user .countcircle {
  margin: auto 13px;
}
.container#user .countcircle h2 {
  font-weight: normal;
  font-size: 147%;
  font-style: italic;
  margin: 10px auto;
  text-align: center;
  min-width: 64px;
}
.container#user .countcircle #follower-number,
.container#user .countcircle #repos-count,
.container#user .countcircle #hireable {
  height: 64px;
  width: 64px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  behavior: url(/GhResume/vendors/PIE.htc);
  text-align: center;
  line-height: 64px;
  font-size: 147%;
  background-color: #0099ff;
  color: #ffffff;
}
.container#skills h2 {
  font-weight: normal;
  font-size: 147%;
  font-style: italic;
}
.container#skills ul#lang-container {
  display: inline-block;
}
.container#skills ul#lang-container li {
  margin: 0 10px;
  float: left;
  text-align: center;
}
.container#skills ul#lang-container li div {
  background-color: #0099ff;
  height: 56px;
  width: 56px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  behavior: url(/GhResume/vendors/PIE.htc);
  text-align: center;
  line-height: 56px;
  font-size: 130%;
  color: #ffffff;
}
.container#skills ul#lang-container li span {
  margin: 0 5px;
  font-size: 80%;
  font-weight: normal;
}
.container#repos h2 {
  font-weight: normal;
  font-size: 147%;
  font-style: italic;
}
.container#repos ul#repolist {
  float: left;
  min-width: 80%;
}
.container#repos ul#repolist h3 a {
  font-size: 130%;
  font-weight: normal;
}
.container#repos ul#repolist h3 a span#language {
  color: #999999;
  font-style: italic;
  font-size: 56%;
}
.container#repos ul#repolist li.singlerepo {
  border-bottom: 1px solid #333333;
  padding: 0 0 20px 0;
  position: relative;
  min-height: 66px;
  overflow: hidden;
  margin: 0 0 20px 0;
  list-style-type: none;
}
.container#repos ul#repolist li.singlerepo ul.repo-stats {
  position: relative;
  float: right;
  border: none;
  font-size: 11px;
  padding-left: 15px;
  z-index: 5;
  display: inline-block;
  margin: 0;
  overflow: hidden;
}
.container#repos ul#repolist li.singlerepo ul.repo-stats li {
  float: left;
  display: list-item;
  margin: 0 5px;
}
